@function brightness($color) {
  @return ((red($color) * .299) + (green($color) * .587) + (blue($color) * .114)) / 255 * 100%;
}

@function contrast($color, $dark: #000, $light: #fff) {
  $color-brightness: brightness($color);
  $light-text-brightness: brightness($light);
  $dark-text-brightness: brightness($dark);

  @return if(abs($color-brightness - $light-text-brightness) > abs($color-brightness - $dark-text-brightness), $light, $dark);
}

$highlight-color--primary: #7DAF3B !default;

.cookie-notice {
  background: #333;
  bottom: 0;
  color: #fff;
  font-size: .875em;
  left: 0;
  line-height: 1.5;
  padding: .5em 5%;
  position: fixed;
  text-align: center;
  width: 100%;
  z-index: 99999;

  .cookie-notice__accept,
  .cookie-notice__accept:hover {
    background: $highlight-color--primary;
    border-radius: .1875em;
    color: contrast( $highlight-color--primary );
    cursor: pointer;
    font-size: .7em;
    font-weight: 700;
    padding: .5em .75em;
    text-decoration: none;
  }
}
